/* .grid_container {
    display:grid;
    row-gap: 20px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat (3,200px);


    /* grid-template-columns: (1fr,1fr,1fr,1fr); */


/* 
.grid_items {
    padding: 50px;
    width: 50px;
    border: 3px solid black;
}

.one {
    grid-columns: 1/3;
}  */




* {
    margin: 0%;
    padding: 0%;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(12, 2fr) ;
    grid-template-rows : repeat(9,80px);
    background-color: blue;
    height:fit-content;
    color: white;
    font-size: 25px;
}

header {
    border: 1px solid white;
    grid-column:1/13 ;
    grid-row: 1/2;
}
nav {
    grid-column: 1/4;
    grid-row: 2/4;
    text-align: center;
    border: 1px solid white;
}

aside {
    grid-column:1/4 ;
    grid-row: 4/6;
    border: 1px solid white;
}

main {
    grid-column: 4/13;
    grid-row: 2/6;
    border: 1px solid white;
    text-align: center;
}

section {
    text-align: center;
    grid-row: 6/8;
    grid-column: 1/13;
    border: 1px solid white;
}

footer {
    grid-row:8/10 ;
    grid-column:1/13 ;
    text-align: center;
    border: 1px solid white;
}



